@import "bulma";

img { max-width: 100%; }

.container {
  width: 630px;
  margin: 25px auto;
}

.wrapper {
  margin: 50px 0;
}

.card {
  width: 500px;
  float: left;
  margin: 0 15px 15px 0;

}
.card-image {
  background: #A7D076;
  height: 200px;
  position: relative;
  img {
    position: absolute;
    top: 30px;
    left: 175px;
    border-radius: 100px;
  }
  .fa-trash {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  // .fa-arrow-left {
    // position: absolute;
    // top: 15px;
    // left: 15px;
    // color: black;
  // }
}

.image img {
    border-radius: 50%;
}

.pad-left {
  padding-left: 10px;
}

footer { clear: both; padding-top: 25px; }